.sixtypersentoffSale {
    /* border: 1px solid red; */
    text-align: center;
    padding: 30px 0px;
}

.sixtypersentoffSale h1 {
    font-size: 27px;
    letter-spacing: 1.5px;
    color: #333333;
}

.sixtypersentoffSale p {
    color: #666666;
    font-size: large;
    margin: 10px 0px;
}

.sixtypersentoffSale button {
    border: 1px solid #666666;
    color: #333333;
    padding: 7px 20px;
    margin: 10px;
    border-radius: 3px;
}

.sixtypersentoffSale button:hover {
    transition: all 900ms;
    color: white;
    background-color: #333333;
}

.firstSlider {
    /* border: 1px solid olivedrab; */
    padding: 30px;
    width: 90%;
    margin-left: 30px;
    height: 500px;
}
.firstSlider img{
    height: 500px;
    margin: auto;
}

.firstSlider button {
    background-color: #b5b5b5;
    /* border: 1px solid firebrick; */
    border-radius: 10px;
}

.secondSlder {
    /* border: 1px solid orange; */
    width: 90%;
    margin: auto;
}


.secondSlder button {
    background-color: #333333;
}

.secondSlder img {
    height: 100px;
}

@media (max-width:800px) {
    .sixtypersentoffSale button {
        display: none;
    }

    .sixtypersentoffSale h1 {
        font-size: 23px;
    }

    .sixtypersentoffSale p {
        font-size: 17px;
    }

    .sixtypersentoffSale {
        padding: 20px;

    }
}