.wholeNavbar {
    position: fixed;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 9;
}

.wholeNavbar p {
    cursor: pointer;
}

.logoutBtn {
    position: absolute;
    top: 43px;
    /* border: 1px solid red; */
}

.navbarTopSection {
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: #333333;
    background-color: #f3f3f3;
    padding: 6px 10px;
}

.navbarTopSection p {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333333;
}

.navbarContainer {
    /* border: 1px solid blue; */
    display: flex;
    background-color: white;
    padding: 5px 0px;
    padding-left: 30px;
}

.navbar {
    /* border: 1px solid rgb(0, 255, 42); */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 28px; */
    align-items: center;

}

.twoBtn {
    /* border: 1px solid salmon; */
    display: flex;
    font-size: 100%;
    font-size: 28px;
    gap: 30px;
    color: #666666;
    position: absolute;
    right: 30px;
    top: 67px;
}

.searchBar {
    height: 60px;
}

.searchBar input {
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 0px;
}

.navbar div {
    top: 90px;
}

.heading {
    border-bottom: 1.5px solid #6666668b;
    font-weight: 700;
    padding-bottom: 20px;
    color: #454545;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.normal {
    color: #454545;
}

#subheading {
    font-weight: 700;
    color: #454545;
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

#womenSubmenue {
    border-top: 20px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f3f3f3;
    column-gap: 20px;
    text-align: left;
    position: absolute;
    left: 0px;
    width: 100%;
    padding: 30px 40px 100px 40px;
    font-size: 15px;
    z-index: 20;
}

#womenSubmenue p:hover {
    text-decoration: underline;
}

.womennavbarpic {
    position: absolute;
    right: 60px;
    width: 260px;
    color: white;
    text-align: center;
}

.womennavbarpic img {
    margin-top: 30px;
    top: 200px;
}

.womennavbarpic p {
    padding: 17px;
    background-color: #333333;
}

#menSubmenue {
    border-top: 20px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    background-color: #f3f3f3;
    text-align: left;
    left: 0px;
    width: 100%;
    padding: 30px 40px 100px 40px;
    font-size: 15px;
    column-gap: 20px;
    z-index: 20;
}

.mennavbarpic {
    position: absolute;
    right: 60px;
    width: 260px;
    color: white;
    text-align: center;
}

#menSubmenue p:hover {
    text-decoration: underline;
}

.mennavbarpic img {
    margin-top: 30px;
}

.mennavbarpic p {
    padding: 7px;
    background-color: #333333;
}

#kidsSubmenue {
    border-top: 20px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    background-color: #f3f3f3;
    text-align: left;
    left: 0px;
    width: 100%;
    padding: 30px 40px;
    font-size: 15px;
    column-gap: 20px;
    border-bottom: 3px solid #0669b5bc;
    z-index: 20;
}

#kidsSubmenue p:hover {
    text-decoration: underline;
}

#originalsSubmenue {
    border-top: 20px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    background-color: #f3f3f3;
    text-align: left;
    left: 0px;
    width: 100%;
    padding: 30px 40px 100px 40px;
    font-size: 15px;
    column-gap: 20px;
    z-index: 20;
    border-bottom: 3px solid #0669b5bc;
}

#originalsSubmenue p:hover {
    text-decoration: underline;
}

#accessoriesSubmenue {
    border-top: 20px solid white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    background-color: #f3f3f3;
    text-align: left;
    left: 0;
    font-size: 15px;
    column-gap: 20px;
    border-bottom: 3px solid #0669b5bc;
    padding: 30px 40px;
    width: 100%;
    padding-right: 50%;
    z-index: 20;

}

#accessoriesSubmenue p:hover {
    text-decoration: underline;
}

#saleSubmenue {
    border-top: 20px solid white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    background-color: #f3f3f3;
    text-align: left;
    left: 0;
    font-size: 15px;
    column-gap: 20px;
    border-bottom: 3px solid #0669b5bc;
    padding: 30px 40px;
    width: 100%;
    padding-right: 25%;
    z-index: 20;
}

#saleSubmenue p:hover {
    text-decoration: underline;
}

#sustainabilitySubmenue {
    border-top: 20px solid white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    background-color: #f3f3f3;
    text-align: left;
    left: 0;
    font-size: 15px;
    column-gap: 20px;
    border-bottom: 3px solid #0669b5bc;
    padding: 30px 40px;
    width: 100%;
    padding-right: 75%;
    z-index: 20;
}

#sustainabilitySubmenue p:hover {
    text-decoration: underline;
}

.hamburgerMenu {
    display: none;
}

.hamburgerlogo {
    color: #333333;
    position: fixed;
    top: 65px;
    left: 14px;
    font-size: 32px;
    z-index: 10;
}

.hanmburgerBody img {
    width: 100px;
    margin: 30px auto;
}

.searchResult {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    gap: 20px;
    padding: 0px 20px;
}

.searchResult img {
    width: 250px;
    margin: auto;
}

.searchResult>div {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.36);
    margin-bottom: 25px;
}

.searchResult h2 {
    font-weight: 700;
}

.searchResult h3 {
    position: relative;
    bottom: 25px;
    right: 5px;
    font-size: 20px;
    color: black;
}

.searchResult div>div {
    display: flex;
    justify-content: space-between;
}

.searchResult p {
    color: gray;

}

.inputClearCross {
    /* border: 1px solid lawngreen; */
    font-size: 30px;
    position: absolute;
    top: 127px;
    left: 20px;
    z-index: 2;
    color: gray;
    cursor: pointer;
}

.hanmburgerBody {
    background-color: #333333;
}

.hanmburgerBody Select {
    background-color: #333333;
    border: none;
    border-bottom: 0.5px solid rgba(245, 245, 245, 0.345);
    border-radius: 0px;
    height: 60px;
    font-size: 20px;
    padding-left: 0px;
}

.hanmburgerBody Select option {
    background-color: #333333;
    border-radius: 0px;
}

.hanmburgerBody p:nth-child(2) {
    border: 1px solid rgba(255, 255, 255, 0.208);
    text-align: center;
    font-size: 15px;
    padding: 10px 0px;
    margin: 30px 0px 20px 0px;
}

.hanmburgerBody p {
    color: white;
    font-size: 20px;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.208);
}

.hamburgerSocialMedia {
    /* border: 1px solid white; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin: 30px 0px;
    margin-top: 40px;
}

#hamburger summary {
    list-style: none;
    /* border: 1px solid rgba(255, 255, 255, 0.208); */
}

#hamburger h2 {
    /* border: 1px solid red; */
    color: white;
    background-color: #242424;
    padding: 10px 0px;
}
summary{
    color: white;
    padding: 10px 0px;
}

.hanmburgerBody p:nth-child(16) {
    font-size: 14px;
    border: none;
    margin-top: 20px;
}

.hanmburgerBody p:nth-child(17) {
    font-size: 14px;
    border: none;
}

.hamburgerCardContainer {
    /* border: 1px solid white; */
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

.hamburgerCardContainer img {
    width: 30px;
    margin: 0px;
}

.twoBtn #cartValue {
    font-size: 11px;
    right: 11px;
    position: absolute;
    top: 10px;
}

@media (max-width:1100px) {}

@media(max-width:1000px) {
    .navbar {
        display: none;
    }

    .hamburgerMenu {
        display: flex;
    }
    .logoinNav{
        /* border: 1px solid red; */
        margin-left: 30px;
    }
}

@media (max-width:500px) {
    .displaunoteSection {
        display: none;
    }
}