.adminpage {
    /* border: 2px solid gold; */
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
}

.adminpage div {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    cursor: pointer;
    border-radius: 7px;
}

.adminpage div:nth-child(1) {
    background-color: green;
}

.adminpage div:nth-child(1):hover {
    background-color: rgba(0, 128, 0, 0.897);
}

.adminpage div:nth-child(2) {
    background-color: skyblue;
}

.adminpage div:nth-child(2):hover {
    background-color: rgba(135, 207, 235, 0.902);
}

.adminpage div:nth-child(3) {
    background-color: red;
}

.adminpage div:nth-child(3):hover {
    background-color: rgba(255, 0, 0, 0.737);
}

.addproduct {
    /* border: 1px solid red; */
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.addproduct input {
    width: 100%;
    border: 1.5px solid rgba(0, 0, 0, 0.242);
    padding: 5px;
    outline: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.addproduct select {
    width: 100%;
    border: 1.5px solid rgba(0, 0, 0, 0.242);
    padding: 5px;
    outline: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.addproduct div {
    /* border: 1px solid green; */
    padding: 20px;
}

.addbtn {
    background-color: green;
    text-align: center;
    color: white;
    /* display: block; */
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.addbtn:active {
    background-color: rgba(0, 128, 0, 0.911);
}

@media (max-width:500px) {
    .adminpage {
        grid-template-columns: repeat(1, 1fr);
    }

    .addproduct {
        grid-template-columns: repeat(1, 1fr);
    }

    .addproduct div:nth-child(1) {
        padding-bottom: 0px;
    }

    .addproduct div:nth-child(2) {
        padding-top: 0px;
    }
}